--
-- PostgreSQL database dump
--

\restrict kUgjGpBVmzEyB46oTetcfF2eNRWhcOXfl7ul4CA9K8ko9qkydORmTlOGYh0O5bf

-- Dumped from database version 18.1
-- Dumped by pg_dump version 18.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO postgres;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO postgres;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO postgres;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: billing_bill; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.billing_bill (
    id bigint NOT NULL,
    subtotal numeric(10,2) NOT NULL,
    discount numeric(10,2) NOT NULL,
    total_amount numeric(10,2) NOT NULL,
    payment_mode character varying(20) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    consultation_id bigint NOT NULL,
    created_by_id bigint,
    invoice_number character varying(20)
);


ALTER TABLE public.billing_bill OWNER TO postgres;

--
-- Name: billing_bill_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.billing_bill ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.billing_bill_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: consultations_consultation; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.consultations_consultation (
    id bigint NOT NULL,
    visit_date date NOT NULL,
    status character varying(20) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    created_by_id bigint,
    customer_id bigint NOT NULL,
    shop_id bigint NOT NULL
);


ALTER TABLE public.consultations_consultation OWNER TO postgres;

--
-- Name: consultations_consultation_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.consultations_consultation ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.consultations_consultation_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: consultations_consultationmedia; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.consultations_consultationmedia (
    id bigint NOT NULL,
    media_file character varying(100) NOT NULL,
    media_type character varying(10) NOT NULL,
    category character varying(10) NOT NULL,
    uploaded_at timestamp with time zone NOT NULL,
    consultation_id bigint NOT NULL
);


ALTER TABLE public.consultations_consultationmedia OWNER TO postgres;

--
-- Name: consultations_consultationmedia_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.consultations_consultationmedia ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.consultations_consultationmedia_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: consultations_consultationservice; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.consultations_consultationservice (
    id bigint NOT NULL,
    service_name character varying(100) NOT NULL,
    rate numeric(10,2) NOT NULL,
    consultation_id bigint NOT NULL,
    service_id bigint
);


ALTER TABLE public.consultations_consultationservice OWNER TO postgres;

--
-- Name: consultations_consultationservice_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.consultations_consultationservice ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.consultations_consultationservice_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: consultations_consultationsummary; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.consultations_consultationsummary (
    id bigint NOT NULL,
    suggested_treatment text NOT NULL,
    short_summary text NOT NULL,
    created_at timestamp with time zone NOT NULL,
    consultation_id bigint NOT NULL
);


ALTER TABLE public.consultations_consultationsummary OWNER TO postgres;

--
-- Name: consultations_consultationsummary_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.consultations_consultationsummary ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.consultations_consultationsummary_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: consultations_haircondition; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.consultations_haircondition (
    id bigint NOT NULL,
    last_treatment character varying(200) NOT NULL,
    henna_or_black character varying(20) NOT NULL,
    home_remedies boolean NOT NULL,
    home_remedy_details text NOT NULL,
    hair_oil boolean NOT NULL,
    hair_oil_details text NOT NULL,
    shampoo character varying(100) NOT NULL,
    conditioner character varying(100) NOT NULL,
    hair_loss boolean NOT NULL,
    dandruff boolean NOT NULL,
    consultation_id bigint NOT NULL
);


ALTER TABLE public.consultations_haircondition OWNER TO postgres;

--
-- Name: consultations_haircondition_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.consultations_haircondition ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.consultations_haircondition_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: consultations_healthcondition; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.consultations_healthcondition (
    id bigint NOT NULL,
    pregnancy boolean NOT NULL,
    pcod boolean NOT NULL,
    thyroid boolean NOT NULL,
    diabetic boolean NOT NULL,
    allergies boolean NOT NULL,
    allergy_details text NOT NULL,
    medication boolean NOT NULL,
    medication_details text NOT NULL,
    vitamin_d_deficiency boolean NOT NULL,
    consultation_id bigint NOT NULL
);


ALTER TABLE public.consultations_healthcondition OWNER TO postgres;

--
-- Name: consultations_healthcondition_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.consultations_healthcondition ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.consultations_healthcondition_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: consultations_skincondition; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.consultations_skincondition (
    id bigint NOT NULL,
    skin_type character varying(20) NOT NULL,
    sun_exposure character varying(20) NOT NULL,
    acne boolean NOT NULL,
    dullness boolean NOT NULL,
    pigmentation boolean NOT NULL,
    wrinkles boolean NOT NULL,
    dryness boolean NOT NULL,
    comedones boolean NOT NULL,
    home_remedies boolean NOT NULL,
    home_remedy_details text NOT NULL,
    night_cream boolean NOT NULL,
    night_cream_details text NOT NULL,
    cleanser character varying(100) NOT NULL,
    toner character varying(100) NOT NULL,
    moisturiser character varying(100) NOT NULL,
    sunscreen character varying(100) NOT NULL,
    serum character varying(100) NOT NULL,
    other text NOT NULL,
    consultation_id bigint NOT NULL
);


ALTER TABLE public.consultations_skincondition OWNER TO postgres;

--
-- Name: consultations_skincondition_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.consultations_skincondition ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.consultations_skincondition_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: customers_customer; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.customers_customer (
    id bigint NOT NULL,
    name character varying(100) NOT NULL,
    dob date,
    address text NOT NULL,
    phone character varying(15) NOT NULL,
    emergency_contact character varying(15) NOT NULL,
    created_at timestamp with time zone NOT NULL
);


ALTER TABLE public.customers_customer OWNER TO postgres;

--
-- Name: customers_customer_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.customers_customer ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.customers_customer_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id bigint NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO postgres;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO postgres;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO postgres;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO postgres;

--
-- Name: services_service; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.services_service (
    id bigint NOT NULL,
    name character varying(120) NOT NULL,
    price numeric(10,2) CONSTRAINT services_service_default_price_not_null NOT NULL,
    is_active boolean NOT NULL,
    category character varying(20) NOT NULL
);


ALTER TABLE public.services_service OWNER TO postgres;

--
-- Name: services_service_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.services_service ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.services_service_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: shops_shop; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.shops_shop (
    id bigint NOT NULL,
    name character varying(100) NOT NULL,
    location character varying(200) NOT NULL,
    is_active boolean NOT NULL,
    created_at timestamp with time zone NOT NULL
);


ALTER TABLE public.shops_shop OWNER TO postgres;

--
-- Name: shops_shop_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.shops_shop ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.shops_shop_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users_user; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users_user (
    id bigint NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL,
    role character varying(20) NOT NULL,
    shop_id bigint
);


ALTER TABLE public.users_user OWNER TO postgres;

--
-- Name: users_user_groups; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users_user_groups (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.users_user_groups OWNER TO postgres;

--
-- Name: users_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.users_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users_user_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.users_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users_user_user_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users_user_user_permissions (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.users_user_user_permissions OWNER TO postgres;

--
-- Name: users_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.users_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: billing_bill; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.billing_bill (id, subtotal, discount, total_amount, payment_mode, created_at, consultation_id, created_by_id, invoice_number) FROM stdin;
1	500.00	0.00	500.00	CASH	2026-01-10 21:40:08.950942+05:30	1	3	INV-0001
\.


--
-- Data for Name: consultations_consultation; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.consultations_consultation (id, visit_date, status, created_at, created_by_id, customer_id, shop_id) FROM stdin;
1	2026-01-10	COMPLETED	2026-01-10 21:37:52.66895+05:30	3	1	1
\.


--
-- Data for Name: consultations_consultationmedia; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.consultations_consultationmedia (id, media_file, media_type, category, uploaded_at, consultation_id) FROM stdin;
1	consultation_media/1542-SREEHARI.jpg	BEFORE	HAIR	2026-01-10 21:40:47.327526+05:30	1
2	consultation_media/sreehari.jpeg	AFTER	HAIR	2026-01-10 21:40:47.331402+05:30	1
\.


--
-- Data for Name: consultations_consultationservice; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.consultations_consultationservice (id, service_name, rate, consultation_id, service_id) FROM stdin;
1	Hair Spa	500.00	1	1
\.


--
-- Data for Name: consultations_consultationsummary; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.consultations_consultationsummary (id, suggested_treatment, short_summary, created_at, consultation_id) FROM stdin;
1			2026-01-10 21:40:25.330587+05:30	1
\.


--
-- Data for Name: consultations_haircondition; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.consultations_haircondition (id, last_treatment, henna_or_black, home_remedies, home_remedy_details, hair_oil, hair_oil_details, shampoo, conditioner, hair_loss, dandruff, consultation_id) FROM stdin;
1	6 months before	BLACK	f		t	coconut oil	Dhathri	dheedhi	t	t	1
\.


--
-- Data for Name: consultations_healthcondition; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.consultations_healthcondition (id, pregnancy, pcod, thyroid, diabetic, allergies, allergy_details, medication, medication_details, vitamin_d_deficiency, consultation_id) FROM stdin;
1	f	f	f	f	f		f		f	1
\.


--
-- Data for Name: consultations_skincondition; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.consultations_skincondition (id, skin_type, sun_exposure, acne, dullness, pigmentation, wrinkles, dryness, comedones, home_remedies, home_remedy_details, night_cream, night_cream_details, cleanser, toner, moisturiser, sunscreen, serum, other, consultation_id) FROM stdin;
1	NORMAL	LIGHT	f	f	f	t	t	f	f		f		dermodoc	dermdoc	dermdoc	dermdoc			1
\.


--
-- Data for Name: customers_customer; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.customers_customer (id, name, dob, address, phone, emergency_contact, created_at) FROM stdin;
1	Sreehari J	2002-10-04	Sreeragam,Kurumandal A, paravur, kollam\r\nNear paravur police station	09497068806		2026-01-10 21:37:49.816347+05:30
\.


--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_admin_log (id, action_time, object_id, object_repr, action_flag, change_message, content_type_id, user_id) FROM stdin;
\.


--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_content_type (id, app_label, model) FROM stdin;
1	admin	logentry
2	auth	group
3	auth	permission
4	contenttypes	contenttype
5	sessions	session
6	shops	shop
7	users	user
8	customers	customer
9	consultations	consultation
10	consultations	consultationmedia
11	consultations	consultationservice
12	consultations	consultationsummary
13	consultations	haircondition
14	consultations	healthcondition
15	consultations	skincondition
16	services	service
17	billing	bill
\.


--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_session (session_key, session_data, expire_date) FROM stdin;
\.


--
-- Data for Name: services_service; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.services_service (id, name, price, is_active, category) FROM stdin;
1	Hair Spa	500.00	t	HAIR
\.


--
-- Data for Name: shops_shop; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.shops_shop (id, name, location, is_active, created_at) FROM stdin;
1	DG Makeover Studio ΓÇô  Paravur		t	2026-01-10 21:35:41.134394+05:30
2	DG Makeover Studio ΓÇô Varkala		t	2026-01-10 21:35:56.786487+05:30
\.


--
-- Data for Name: users_user; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: users_user_groups; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.users_user_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: users_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.users_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 68, true);


--
-- Name: billing_bill_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.billing_bill_id_seq', 1, true);


--
-- Name: consultations_consultation_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.consultations_consultation_id_seq', 1, true);


--
-- Name: consultations_consultationmedia_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.consultations_consultationmedia_id_seq', 2, true);


--
-- Name: consultations_consultationservice_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.consultations_consultationservice_id_seq', 1, true);


--
-- Name: consultations_consultationsummary_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.consultations_consultationsummary_id_seq', 1, true);


--
-- Name: consultations_haircondition_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.consultations_haircondition_id_seq', 1, true);


--
-- Name: consultations_healthcondition_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.consultations_healthcondition_id_seq', 1, true);


--
-- Name: consultations_skincondition_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.consultations_skincondition_id_seq', 1, true);


--
-- Name: customers_customer_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.customers_customer_id_seq', 1, true);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 1, false);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 17, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 32, true);


--
-- Name: services_service_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.services_service_id_seq', 1, true);


--
-- Name: shops_shop_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.shops_shop_id_seq', 2, true);


--
-- Name: users_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_user_groups_id_seq', 1, false);


--
-- Name: users_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_user_id_seq', 4, true);


--
-- Name: users_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_user_user_permissions_id_seq', 1, false);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: billing_bill billing_bill_consultation_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.billing_bill
    ADD CONSTRAINT billing_bill_consultation_id_key UNIQUE (consultation_id);


--
-- Name: billing_bill billing_bill_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.billing_bill
    ADD CONSTRAINT billing_bill_pkey PRIMARY KEY (id);


--
-- Name: consultations_consultation consultations_consultation_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.consultations_consultation
    ADD CONSTRAINT consultations_consultation_pkey PRIMARY KEY (id);


--
-- Name: consultations_consultationmedia consultations_consultationmedia_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.consultations_consultationmedia
    ADD CONSTRAINT consultations_consultationmedia_pkey PRIMARY KEY (id);


--
-- Name: consultations_consultationservice consultations_consultationservice_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.consultations_consultationservice
    ADD CONSTRAINT consultations_consultationservice_pkey PRIMARY KEY (id);


--
-- Name: consultations_consultationsummary consultations_consultationsummary_consultation_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.consultations_consultationsummary
    ADD CONSTRAINT consultations_consultationsummary_consultation_id_key UNIQUE (consultation_id);


--
-- Name: consultations_consultationsummary consultations_consultationsummary_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.consultations_consultationsummary
    ADD CONSTRAINT consultations_consultationsummary_pkey PRIMARY KEY (id);


--
-- Name: consultations_haircondition consultations_haircondition_consultation_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.consultations_haircondition
    ADD CONSTRAINT consultations_haircondition_consultation_id_key UNIQUE (consultation_id);


--
-- Name: consultations_haircondition consultations_haircondition_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.consultations_haircondition
    ADD CONSTRAINT consultations_haircondition_pkey PRIMARY KEY (id);


--
-- Name: consultations_healthcondition consultations_healthcondition_consultation_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.consultations_healthcondition
    ADD CONSTRAINT consultations_healthcondition_consultation_id_key UNIQUE (consultation_id);


--
-- Name: consultations_healthcondition consultations_healthcondition_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.consultations_healthcondition
    ADD CONSTRAINT consultations_healthcondition_pkey PRIMARY KEY (id);


--
-- Name: consultations_skincondition consultations_skincondition_consultation_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.consultations_skincondition
    ADD CONSTRAINT consultations_skincondition_consultation_id_key UNIQUE (consultation_id);


--
-- Name: consultations_skincondition consultations_skincondition_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.consultations_skincondition
    ADD CONSTRAINT consultations_skincondition_pkey PRIMARY KEY (id);


--
-- Name: customers_customer customers_customer_phone_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.customers_customer
    ADD CONSTRAINT customers_customer_phone_key UNIQUE (phone);


--
-- Name: customers_customer customers_customer_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.customers_customer
    ADD CONSTRAINT customers_customer_pkey PRIMARY KEY (id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: services_service services_service_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.services_service
    ADD CONSTRAINT services_service_pkey PRIMARY KEY (id);


--
-- Name: shops_shop shops_shop_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.shops_shop
    ADD CONSTRAINT shops_shop_pkey PRIMARY KEY (id);


--
-- Name: users_user_groups users_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_user_groups
    ADD CONSTRAINT users_user_groups_pkey PRIMARY KEY (id);


--
-- Name: users_user_groups users_user_groups_user_id_group_id_b88eab82_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_user_groups
    ADD CONSTRAINT users_user_groups_user_id_group_id_b88eab82_uniq UNIQUE (user_id, group_id);


--
-- Name: users_user users_user_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_user
    ADD CONSTRAINT users_user_pkey PRIMARY KEY (id);


--
-- Name: users_user_user_permissions users_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_user_user_permissions
    ADD CONSTRAINT users_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: users_user_user_permissions users_user_user_permissions_user_id_permission_id_43338c45_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_user_user_permissions
    ADD CONSTRAINT users_user_user_permissions_user_id_permission_id_43338c45_uniq UNIQUE (user_id, permission_id);


--
-- Name: users_user users_user_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_user
    ADD CONSTRAINT users_user_username_key UNIQUE (username);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: billing_bill_created_by_id_6dcc4ab1; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX billing_bill_created_by_id_6dcc4ab1 ON public.billing_bill USING btree (created_by_id);


--
-- Name: consultations_consultation_created_by_id_f4df3858; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX consultations_consultation_created_by_id_f4df3858 ON public.consultations_consultation USING btree (created_by_id);


--
-- Name: consultations_consultation_customer_id_9c0fe850; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX consultations_consultation_customer_id_9c0fe850 ON public.consultations_consultation USING btree (customer_id);


--
-- Name: consultations_consultation_shop_id_7cf00848; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX consultations_consultation_shop_id_7cf00848 ON public.consultations_consultation USING btree (shop_id);


--
-- Name: consultations_consultationmedia_consultation_id_6e84c876; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX consultations_consultationmedia_consultation_id_6e84c876 ON public.consultations_consultationmedia USING btree (consultation_id);


--
-- Name: consultations_consultationservice_consultation_id_52d56df1; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX consultations_consultationservice_consultation_id_52d56df1 ON public.consultations_consultationservice USING btree (consultation_id);


--
-- Name: consultations_consultationservice_service_id_1ec470f9; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX consultations_consultationservice_service_id_1ec470f9 ON public.consultations_consultationservice USING btree (service_id);


--
-- Name: customers_customer_phone_01182399_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX customers_customer_phone_01182399_like ON public.customers_customer USING btree (phone varchar_pattern_ops);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: users_user_groups_group_id_9afc8d0e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX users_user_groups_group_id_9afc8d0e ON public.users_user_groups USING btree (group_id);


--
-- Name: users_user_groups_user_id_5f6f5a90; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX users_user_groups_user_id_5f6f5a90 ON public.users_user_groups USING btree (user_id);


--
-- Name: users_user_shop_id_f283cccc; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX users_user_shop_id_f283cccc ON public.users_user USING btree (shop_id);


--
-- Name: users_user_user_permissions_permission_id_0b93982e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX users_user_user_permissions_permission_id_0b93982e ON public.users_user_user_permissions USING btree (permission_id);


--
-- Name: users_user_user_permissions_user_id_20aca447; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX users_user_user_permissions_user_id_20aca447 ON public.users_user_user_permissions USING btree (user_id);


--
-- Name: users_user_username_06e46fe6_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX users_user_username_06e46fe6_like ON public.users_user USING btree (username varchar_pattern_ops);


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: billing_bill billing_bill_consultation_id_74f1d57b_fk_consultat; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.billing_bill
    ADD CONSTRAINT billing_bill_consultation_id_74f1d57b_fk_consultat FOREIGN KEY (consultation_id) REFERENCES public.consultations_consultation(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: billing_bill billing_bill_created_by_id_6dcc4ab1_fk_users_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.billing_bill
    ADD CONSTRAINT billing_bill_created_by_id_6dcc4ab1_fk_users_user_id FOREIGN KEY (created_by_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: consultations_consultationsummary consultations_consul_consultation_id_529504dc_fk_consultat; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.consultations_consultationsummary
    ADD CONSTRAINT consultations_consul_consultation_id_529504dc_fk_consultat FOREIGN KEY (consultation_id) REFERENCES public.consultations_consultation(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: consultations_consultationservice consultations_consul_consultation_id_52d56df1_fk_consultat; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.consultations_consultationservice
    ADD CONSTRAINT consultations_consul_consultation_id_52d56df1_fk_consultat FOREIGN KEY (consultation_id) REFERENCES public.consultations_consultation(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: consultations_consultationmedia consultations_consul_consultation_id_6e84c876_fk_consultat; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.consultations_consultationmedia
    ADD CONSTRAINT consultations_consul_consultation_id_6e84c876_fk_consultat FOREIGN KEY (consultation_id) REFERENCES public.consultations_consultation(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: consultations_consultation consultations_consul_created_by_id_f4df3858_fk_users_use; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.consultations_consultation
    ADD CONSTRAINT consultations_consul_created_by_id_f4df3858_fk_users_use FOREIGN KEY (created_by_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: consultations_consultation consultations_consul_customer_id_9c0fe850_fk_customers; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.consultations_consultation
    ADD CONSTRAINT consultations_consul_customer_id_9c0fe850_fk_customers FOREIGN KEY (customer_id) REFERENCES public.customers_customer(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: consultations_consultationservice consultations_consul_service_id_1ec470f9_fk_services_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.consultations_consultationservice
    ADD CONSTRAINT consultations_consul_service_id_1ec470f9_fk_services_ FOREIGN KEY (service_id) REFERENCES public.services_service(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: consultations_consultation consultations_consultation_shop_id_7cf00848_fk_shops_shop_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.consultations_consultation
    ADD CONSTRAINT consultations_consultation_shop_id_7cf00848_fk_shops_shop_id FOREIGN KEY (shop_id) REFERENCES public.shops_shop(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: consultations_haircondition consultations_hairco_consultation_id_48e61b02_fk_consultat; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.consultations_haircondition
    ADD CONSTRAINT consultations_hairco_consultation_id_48e61b02_fk_consultat FOREIGN KEY (consultation_id) REFERENCES public.consultations_consultation(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: consultations_healthcondition consultations_health_consultation_id_6a5b065a_fk_consultat; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.consultations_healthcondition
    ADD CONSTRAINT consultations_health_consultation_id_6a5b065a_fk_consultat FOREIGN KEY (consultation_id) REFERENCES public.consultations_consultation(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: consultations_skincondition consultations_skinco_consultation_id_8e7378e4_fk_consultat; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.consultations_skincondition
    ADD CONSTRAINT consultations_skinco_consultation_id_8e7378e4_fk_consultat FOREIGN KEY (consultation_id) REFERENCES public.consultations_consultation(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_users_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_users_user_id FOREIGN KEY (user_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_user_groups users_user_groups_group_id_9afc8d0e_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_user_groups
    ADD CONSTRAINT users_user_groups_group_id_9afc8d0e_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_user_groups users_user_groups_user_id_5f6f5a90_fk_users_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_user_groups
    ADD CONSTRAINT users_user_groups_user_id_5f6f5a90_fk_users_user_id FOREIGN KEY (user_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_user users_user_shop_id_f283cccc_fk_shops_shop_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_user
    ADD CONSTRAINT users_user_shop_id_f283cccc_fk_shops_shop_id FOREIGN KEY (shop_id) REFERENCES public.shops_shop(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_user_user_permissions users_user_user_perm_permission_id_0b93982e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_user_user_permissions
    ADD CONSTRAINT users_user_user_perm_permission_id_0b93982e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_user_user_permissions users_user_user_permissions_user_id_20aca447_fk_users_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_user_user_permissions
    ADD CONSTRAINT users_user_user_permissions_user_id_20aca447_fk_users_user_id FOREIGN KEY (user_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

\unrestrict kUgjGpBVmzEyB46oTetcfF2eNRWhcOXfl7ul4CA9K8ko9qkydORmTlOGYh0O5bf

