{% extends 'base.html' %}
{% block content %}

<h4>Search Customer</h4>

<form method="post" class="mt-3">
    {% csrf_token %}
    <div class="row g-2">
        <div class="col-md-6">
            <input type="text" name="phone" class="form-control"
                   placeholder="Enter phone number"
                   value="{{ phone }}" required>
        </div>
        <div class="col-md-2">
            <button class="btn btn-dark w-100">Search</button>
        </div>
    </div>
</form>

{% if customer is None and phone %}
    <div class="alert alert-warning mt-3">
        Customer not found.
        <a href="{% url 'customer_create' %}" class="btn btn-sm btn-outline-dark ms-2">
    Add New Customer
</a>

    </div>
{% endif %}

{% endblock %}
