{% extends 'base.html' %}
{% block content %}

<h4>Edit Service</h4>

<form method="post">
  {% csrf_token %}

  <div class="mb-3">
    <label>Name</label>
    <input name="name" class="form-control"
           value="{{ service.name }}" required>
  </div>

  <div class="mb-3">
    <label>Category</label>
    <select name="category" class="form-control">
      <option value="HAIR" {% if service.category == 'HAIR' %}selected{% endif %}>Hair</option>
      <option value="SKIN" {% if service.category == 'SKIN' %}selected{% endif %}>Skin</option>
      <option value="OTHER" {% if service.category == 'OTHER' %}selected{% endif %}>Other</option>
    </select>
  </div>

  <div class="mb-3">
    <label>Price</label>
    <input name="price" type="number" step="0.01"
           class="form-control"
           value="{{ service.price }}" required>
  </div>

  <div class="form-check mb-3">
    <input class="form-check-input" type="checkbox"
           name="is_active"
           {% if service.is_active %}checked{% endif %}>
    <label class="form-check-label">
      Active (Disable instead of delete)
    </label>
  </div>

  <button class="btn btn-dark">Update Service</button>
  <a href="{% url 'service_list' %}" class="btn btn-outline-secondary">
    Cancel
  </a>
</form>

{% endblock %}
